<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos"><img src="lib/images/1.png"></div>
                <h4>Online Courses</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus elit dor broma.</p>
                <p><a href="#">Read More</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos"><img src="lib/images/2.png"></div>
                <h4>Meet our Staff</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus elit dor broma.</p>
                <p><a href="#">Read More</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos"><img src="lib/images/3.png"></div>
                <h4>Latest Updates</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus elit dor broma.</p>
                <p><a href="#">Read More</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos"><img src="lib/images/4.png"></div>
                <h4>Placements</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue eset nec lacus elit dor broma.</p>
                <p><a href="#">Read More →</a></p>
            </div>
        </div>
    </div>
</div>